#appouterdiv{
/*  display: flex;
  justify-content: center;*/
}


#appinnerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#needaname{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none{
  display: none;
}

#maintitle{
  font-family: 'Righteous', cursive;
  font-size: 4em;
  color: white;
  padding-top: 10px;
}

h1{
	color: white;
  font-size: 3em;
}

#announcements{
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 
    4px 1px 2px #023862;
    
}

.chooseboardsizediv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.chooseboardsizeitem{
  width: 100px;
  height: 50px;
  background: lightblue;
  color: #2196F3;
  text-align: center;
  font-weight: bold;

  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.choosethemetitletext{
  color:white;
}

.choosethemediv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

.choosethemeitem{
  width: 100px;
  height: 50px;
  background: lightblue;
  color: #2196F3;
  text-align: center;
  font-weight: bold;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}




.chooseboardsizetitletext{
  color:white;
}

/*CHOOSE THEME BUTTONS*/

#numbersdiv{
  border:solid;
  border-color: #2196F3;
}

#shapesdiv{
  border:solid;
  border-color: #2196F3;
}

#birdsdiv{
  border:solid;
  border-color: #2196F3;
}

#starwarsdiv{
  border:solid;
  border-color: #2196F3;
}

#dispdiv{
  border:solid;
  border-color: #2196F3;
}

#numbersdiv:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#shapesdiv:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#birdsdiv:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#starwarsdiv:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#dispdiv:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}


/*CHOSSE SIZE BUTTONS*/
#choosesize8{
  border:solid;
  border-color: #2196F3;
}

#choosesize16{
  border:solid;
  border-color: #2196F3;
}

#choosesize32{
  border:solid;
  border-color: #2196F3;
}


#choosesize8:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#choosesize16:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#choosesize32:hover{
  border:solid;
  border-color: white;
  cursor: pointer;
}

#currentplayerdiv{
  display: flex;

}

#currentlyplayertitle{
  padding-right: 15px;
  font-size: 2em;
}

#currentplayer{
  font-size: 2em;
}

.maingameboarddiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerscorediv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  color: #2196F3;
  font-weight: bold;
}

.cardsareadiv{
  display: flex;
  flex-direction: column;
}

#resetbuttondiv{
  display: flex;
  justify-content: center;
  /*padding: 25px;*/
}

#resetbutton{
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2196F3;
  border-radius: 15px;
  border: solid;
  border-color: #2196F3;
}

#resetbutton:hover{
  border: solid;
  border-color: white;
}

.playerscoretext{
  padding-right: 5px;
}

#playeronescore{
  padding-top: 15px;
  font-size: 3em;
}

#playertwoscore{
  padding-top: 15px;
  font-size: 3em;
}

#r0{
  background: blue;
}

.ansbox{
  background-color: pink;
  padding: 50px;
  border: solid;
}

#match-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 35px;
  /*grid-column-gap: 5px;*/
}

/*.b1{
  outline:solid;
  padding: 50px;
}*/

/*<<<<<<<<<<< 8 Card Board >>>>>>>>>>>*/

#match-container8{
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
  grid-row-gap: 25px;
  grid-column-gap: 12.5px;
  padding: 25px;
}

.match-outer-item8{
  width: 170px;
  height: 170px;
/*  border: solid;
  border-color: white;*/
}

.front8{
  position: absolute;
  z-index: 1;
  
  background-color: lightblue;
  
  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  border-radius: 15px;
  width: 150px;
  height: 150px;
  font-size: 30px;
  text-align: center;

  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
}

.front8:hover{
  border-color: white;
}

.back8{
  position: absolute;
  z-index: 1;

  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightblue;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  font-size: 80px;
  text-align: center;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}



/*<<<<<<<<<<< 16 Card Board >>>>>>>>>>>*/
#match-container16{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-row-gap: 12.5px;
  grid-column-gap: 25px;
  padding: 25px;
}

.match-outer-item16{
/*  background-color: rgba(255, 255, 255, 0.8);
  background-color: #2196F3;*/
  width: 150px;
  height: 150px;
/*  border: solid;
  border-color: white;*/
}

.front16{
  position: absolute;
  z-index: 1;

  background-color: lightblue;

  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  border-radius: 15px;
  width: 130px;
  height: 130px;
  font-size: 30px;
  text-align: center;

  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
}

.front16:hover{
  border-color: white;
}

.back16{
  /*position: absolute;*/
  position: absolute;
  z-index: 2;

  color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightblue;

  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  border-radius: 15px;
  width: 130px;
  height: 130px;
  font-size: 80px;
  text-align: center;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}

/*<<<<<<<<<<< 32 Card Board >>>>>>>>>>>*/
#match-container32{
  display: grid;
  grid-template-columns: 115px 115px 115px 115px 115px 115px 115px 115px;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  padding: 55px;
}

.match-outer-item32{
/*  background-color: rgba(255, 255, 255, 0.8);
  background-color: #2196F3;*/
  width: 115px;
  height: 115px;
  /*border: solid;
  border-color: white;*/
}


.front32{
  position: absolute;
  z-index: 1;

  background-color: lightblue;

  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  border-radius: 15px;
  width: 95px;
  height: 95px;
  font-size: 80px;
  text-align: center;

  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
}

.front32:hover{
  border-color: white;
}

.back32{
  position: absolute;
  z-index: 2;

  color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightblue;

  border: solid;
  border-width: 10px;
  border-color: #2196F3;

  border-radius: 15px;
  width: 95px;
  height: 95px;
  font-size: 30px;
  text-align: center;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}


/*FLIPPER STYLE*/
.carditem{
 /* -webkit-perspective: 100px;
  -moz-perspective: 100px;
  perspective: 100px;*/
}

.flipper {

	transform: rotateY(180deg);
	transition: 0.8s;
	transform-style: preserve-3d;

  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
}

.flipback{

  transform: rotateY(0deg);
  transition: 0.8s;
  transform-style: preserve-3d;

  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
}

.spinbttn{
	height: 305px;
	width: 305px;
}